@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
    display: grid;
    place-items: center;
}

@layer utilities {
    .masonry-cols-4 {
        column-count: 4;
        column-gap: 1em;
    }

    .masonry-cols-3 {
        column-count: 3;
        column-gap: 1em;
    }

    .masonry-cols-2 {
        column-count: 2;
        column-gap: 1em;
    }

    .break-inside {
        break-inside: avoid;
    }
}

.text-grad-zinc {
    background: linear-gradient(to top, #27272a 10%, #a1a1aa 90%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.text-grad-lime {
    background: linear-gradient(to top, #84cc16 40%, #bef264 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.shadow-side {
    box-shadow: 1px 0 35px rgba(0, 0, 0, 0.07), -1px 0 35px rgba(0, 0, 0, 0.07);
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgb(244 244 245)
}

::-webkit-scrollbar-thumb {
    background-color: rgb(113 113 122);
    border-radius: 2rem;

}

/* :hover {
    background-color: rgb(82 82 91)
} */