@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
    display: grid;
    place-items: center;
}

@layer utilities {
    .masonry-cols-4 {
        column-count: 4;
        column-gap: 1em;
    }

    .masonry-cols-3 {
        column-count: 3;
        column-gap: 1em;
    }

    .masonry-cols-2 {
        column-count: 2;
        column-gap: 1em;
    }

    .break-inside {
        break-inside: avoid;
    }
}
.text-grad {
    background: linear-gradient(to left, #00FF00 10%, #00FFFF 90%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}